.articles {
    background: linear-gradient(180deg, #F7F9FD 0%, rgba(247, 249, 253, 0) 100%);
    width: 100%;
    padding: 70px 0;
}

.articles .container {
    position: relative;
}

.articles-title {
    color: #AAAAAA;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.articles .container > h1 {
    font-size: 40px;
    font-weight: 700;
    color: #223939;
    max-width: 501px;
}

.articles .slick-slider {
    position: static !important;
}

.articles .slick-prev {
    left: 1130px;
    top: 130px;
}

.articles .slick-next {
    top: 130px;
    right: 20px;
}

@media screen and (max-width: 1234px) {
    .articles .slick-prev {
        left: 1100px;
    }
}

@media screen and (max-width: 1208px) {
    .articles .slick-prev {
        left: 930px;
    }
    .articles .slick-next{
        right: 130px;
    }
}

@media screen and (max-width: 1150px) {
    .articles .slick-slider{
        position: relative;
    }
    .articles .slick-prev{
        top: 300px;
        left: 25px;
    }
    .articles .slick-next{
        right: 25px;
        top: 300px;
    }
    .articles .container:nth-child(2) {
        width: 100% !important;
        padding: 0!important;
        margin: 0!important;
    }
}

@media screen and (max-width: 839px) {
    .articles{
        padding: 30px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 600px){
    .articles .slick-prev{
        top: 350px;
        left: 0;
    }

    .articles .slick-next{
        right: 0;
        top: 350px;
    }
}

@media screen and (max-width: 450px) {
     .articles-title{
        font-size: 14px;
    }
    .articles .container > h1{
        font-size: 30px;
    }
}