@media screen and (max-width: 1024px) {
    .nav-list{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .burger{
        display: block;
        z-index: 999;
    }

    .nav-list{
        align-items: flex-start;
        flex-direction: column;
        height: 100vh;
        justify-content: start;
        left: -105%;
        line-height: 50px;
        padding: 15px 25px 20px;
        position: fixed;
        text-align: left;
        top: 0;
        transition: .5s ease;
        width: 300px;
        z-index: 999;
        -webkit-backdrop-filter: blur(10px) !important;
        backdrop-filter: blur(15px) !important;
        background-color: rgba(3, 179, 161, 0.68);
        box-shadow: 0 5px 15px hsla(174, 99%, 41%, 0.27);
    }

    .nav.fixed .nav-list {
        padding: 4px 25px 20px;
    }

    .logo-m{
        display: block;
    }

    .nav-list.active{
        left: 0;
    }
}

@media screen and (max-width: 375px) {
    .nav-list{
        width: 100%;
    }
}