.page-not-found{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    top: 0;
    left: 0;
    z-index: 3000;
}

.text-center-ntf{
    text-align: center;
}

.text-center-ntf h1{
    margin-bottom: 20px;
}